<launch>

	<arg name="host" default="localhost" />
	<arg name="mission" default="trackdrive"/>

	<node name="fsds_ros_bridge" pkg="fsds_ros_bridge" type="fsds_ros_bridge" output="screen">
		<!-- ROS timer rates. Note that timer callback will be processed at maximum possible rate, upperbounded by the following ROS params -->
		<param name="is_vulkan" type="bool" value="false" /> 
		<param name="update_airsim_img_response_every_n_sec" type="double" value="0.001" /> 
		<param name="update_airsim_control_every_n_sec" type="double" value="0.001" />
		<param name="update_lidar_every_n_sec" type="double" value="0.01" />
		<param name="host_ip" type="string" value="$(arg host)" />
		<param name="mission_name" type="string" value="$(arg mission)"/>
	</node>

	<!-- Static transforms -->
	<include file="$(find fsds_ros_bridge)/launch/static_transforms.launch"/>
</launch>
