<launch> 

<!-- AirSim ROS Wrapper -->
	<include file="$(find ros_interface)/launch/airsim_node.launch"/>
<!-- Vehicle Dynamic Constraints -->
	<include file="$(find ros_interface)/launch/dynamic_constraints.launch"/>
<!-- Simple PID Position Controller -->
	<include file="$(find ros_interface)/launch/position_controller_simple.launch"/>
</launch>