<launch>
    <!-- joy node -->
    <node pkg="joy" type="joy_node" name="joy" required="true" output="screen">
        <param name="dev" type="string" value="/dev/input/js0"/>
    </node>

    <node name="joycontrol" type="joycontrol" pkg="ros_interface" output="screen" required="true"/>
</launch>

